.background-magnifying-glass{
  background-color: #1d2124;
  padding:5px;
  padding-left:6px;
  border-radius: 20px;
}

.sizeForModal {
  max-height: 1170px;
  height: 1170px;
  max-width:902px !important;
}