.qualification-scaling-selectionV2__card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > section {
    display: flex;
    align-items: center;

    & > span {
      white-space: nowrap;
    }

    .breadcrumb {
      margin: 0;
      padding: 0 1em;
      max-width: 769px;
      background: transparent;
    }
  }
}

.qualificationSelectionV2__wrapper {
  position: relative;
}

.qualificationSelectionV2__requalification_button {
  display: flex;
  justify-content: flex-end;
}

.qualificationSelectionV2__must-requalif-warning {
  flex: 2;

  span {
    color: red;
  }
}

.qualification-scaling-selectionV2__reset-search-field {
  cursor: pointer;
  position: relative;
  left: -50px;
  height: 12px;
  display: none;
}

.qualification-scaling-selectionV2__search-field-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  width: fit-content;

  &:hover {
    .qualification-scaling-selectionV2__reset-search-field {
      display: initial;
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  .invalid-feedback {
    margin: 0;
  }
}

