init.author.name = Jordan Lefébure
init.author.email = jordan.lefebure@sfr.com
init.author.url = http://www.sfr.com

registry=https://nexus.private.sfr.com/repository/npm-public/

email=jordan.lefebure@sfr.com

_auth=Z2l0bGFiOnBwWkhBdFQ5dzU3ZloyWkczUTZyN2Zzc1o4NDVaRjEyc1JaNTNRNFFHYQ==

