.table-hover tbody tr.selectedCaseSummary:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0);
}

.recent-cases-table__table-header {
    color: white;
    background-color: black;
}

.recent-cases-table__client-request-square {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 200px;
    max-width: 200px;
}

.recent-cases-table__tooltip-popper{
    pointer-events: none;
}

.recent-cases-table__tooltip-inner{
    max-width: 800px !important;
}

.recent-cases-table__row{
    cursor: pointer;
}