
.boxTheme {
    cursor: pointer;
}

.boxTheme:hover {
    color: #fff;
    background-color: #da3832;
    border-color: #da3832;
}

.boxThemeLeaf {
    color: #fff;
    background-color: #da3832;
    border-color: #da3832;
    cursor: pointer;
}
.boxThemeLeaf:hover  {
    color: #fff;
    background-color: #da3832;
    border-color: #da3832;
}

