.edit_antichurn_cardV2__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent linear-gradient(180deg,#da3832,#9c3c7a) 0 0 no-repeat padding-box;
    color: #FFF;
}