.bloc-recommandations-container {
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1) !important;
}
.caseBlockContainer {
    padding: 16px 16px 16px 20px;
}
.first-line div:last-child {
    margin-right: 0;
}
.first-line {
    margin-bottom: 10px;
}