.my-6 { /*18px*/
  margin: 1.125rem 0;
}

.px-6 { /*18px*/
  padding: 0 1.125rem;
}

.px-7 { /*21px*/
  padding: 0 1.3125rem;
}



.mb-6 { /*12px*/
  margin-bottom: 0.75rem;
}

.mb-7 { /*13px*/
  margin-bottom: 0.8125rem;
}

.mb-8 { /*14px*/
  margin-bottom: 0.875rem;
}

.mb-9 { /*15px*/
  margin-bottom: 0.9375rem;
}

.mb-10 { /*17px*/
  margin-bottom: 1.0625rem;
}

.mb-11 { /*18px*/
  margin-bottom: 1.125rem;
}

.mb-12 { /*19px*/
  margin-bottom: 1.1875rem;
}

.mb-13 { /*20px*/
  margin-bottom: 1.25rem;
}

.mb-14 { /*21px*/
  margin-bottom: 1.3125rem;
}

.mb-15 { /*22px*/
  margin-bottom: 1.375rem;
}

.mb-16 { /*23px*/
  margin-bottom: 1.4375rem;
}

.mb-17 { /*25px*/
  margin-bottom: 1.5625rem;
}

.mb-18 { /*26px*/
  margin-bottom: 1.625rem;
}

.mb-19 { /*32px*/
  margin-bottom: 2rem;
}

.ml-6 { /*12px*/
  margin-left: 0.75rem;
}

.btn.createNew {
  border-radius: 4px;
  line-height: initial;
}

.font-size-xxs {  /*10px*/
  font-size: 0.625rem;
}

.font-size-12 {  /*12px*/
  font-size: 12px;
}

.text-grey-light {
  color: #ADB5BD;
}